<form>
<h4>Please enter your informations:</h4>


  <p>
  <md-input-container>
    <input mdInput placeholder="Username" #username required="required">
  </md-input-container>
  </p>
  <p>
  <md-input-container>
    <input mdInput placeholder="Password" type="password" #password required="required">
  </md-input-container>
  </p>


  <p>
    <md-input-container>
      <input mdInput placeholder="Firstname" #firstname required="required">
    </md-input-container>
  </p>
  <p>
    <md-input-container>
      <input mdInput placeholder="Lastname" #lastname required="required">
    </md-input-container>
  </p>

<p>
  <button md-raised-button (click)="cancel()">Cancel</button>
  <button md-raised-button (click)="createProfile(username.value,password.value,firstname.value, lastname.value)">Confirm</button>
</p>
  </form>
