<div>
    <movie-search></movie-search>
</div>

<div>Suggestions based on your collection</div>
<table style="width:100%">
     
    <tr>
           
        <th>Movie</th>
           
        <th>Global Rating</th>
         
    </tr>
     
    <tr>
           
        <td>Logan</td>
           
        <td>5</td>
        <td>
            <button md-raised-button (click)="addMovie()">+</button>
        </td>
         
    </tr>
     
    <tr>
           
        <td>Alien</td>
           
        <td>4</td>
        <td>
            <button md-raised-button (click)="addMovie()">+</button>
        </td>
         
    </tr>
</table>
