<div id="search-component">
    <table>
        <tr>
            <td>
                <input #searchBox id="search-box" />
            </td>
            <td>
                <button md-raised-button (click)="getMovies(searchBox.value)">GO</button>
            </td>
            <td>
                <p-dropdown [options]="filters" [(ngModel)]="selectedFilter"></p-dropdown>
            </td>
        </tr>
    </table>
</div>

<div id="search-result">
    <p-growl [(value)]="msgs"></p-growl>
    <p-dataList [value]="movies" [paginator]="true" [rows]="5">
        <p-header>
            List of Movie
        </p-header>
        <ng-template let-m pTemplate="item">
            <div class="ui-grid ui-grid-responsive ui-fluid"
                 style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-7">
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4"><strong>Name</strong></div>
                                <div>{{m.title}}</div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4"><strong>Global rating:</strong></div>
                                <div>{{m.globalRating}}</div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4"><strong>My rating:</strong></div>
                                <div >
                                    <p-spinner size="5" [(ngModel)]="m.userRate" [min]="1" [max]="5" #ratingBox
                                               id="rating-box"
                                               (onChange)="updateMovieRating(m,ratingBox.value)"></p-spinner>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-col-5" style="text-align:left">
                        <p-fieldset legend="Actors" [toggleable]="true" [collapsed]="true">
                            <ul>
                                <li *ngFor="let actor of m.actors">
                                    <span>{{actor}}</span>
                                </li>
                            </ul>
                        </p-fieldset>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataList>
</div>

